
<form action="{% url 'polls:vote' question.id%}" method="POST">
    {% csrf_token %}
    <fieldset>
        <h1> {{ question.question_text }} </h1>
        {% if error %}
            <p>
                <strong> {{ error }}</strong>
            </p>
        {% endif %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="{{ forloop.counter }}"> {{ choice.choice_text }}</label>
            <br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Votar">
    <input type="button" onclick="location.href='{% url "polls:index" %}'" value="Get Home">
</form>


